.wraper {
  width: 100vw;
  max-height: 100vh;
  background: #fff;
  display: flex;
}

.div1 {
  width: calc(60% - 40px);
  max-height: 100vh;
  background: rgba(96, 91, 255, 1);
}

.div2 {
  width: calc(100% + 40px);
  max-height: 100vh;
  background: #f8faff;
  border-left: 200px solid rgba(96, 91, 255, 1);
  border-bottom: 100vh solid transparent;
  box-sizing: border-box;
}

.content1 {
  color: white;
  font-family: "Montserrat", Courier, monospace;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.base {
  font-family: "Montserrat";
  font-size: 72px;
  font-weight: 700;
  line-height: 88px;
  letter-spacing: 0em;
  text-align: left;
}

.logo {
  align-self: flex-start;
  margin: 1.5rem 0 0 5%;
}

.socials {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.content2 {
  height: 100vh;
  font-family: "Montserrat", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signin {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 1rem;
}

.signin2 {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.authbox {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ath {
  background-color: #ffff;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  border-radius: 10px;
  padding: 0.5rem;
  font-family: "Montserrat", Courier, monospace;
  align-items: center;
  color: rgba(133, 133, 133, 1);
  justify-content: center;
  display: flex;
  gap: 1rem;
}

.box2 {
  background-color: #ffff;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Lato", sans-serif;
}

.input {
  display: flex;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  gap: 0.5rem;
}

.inp {
  font-family: "Lato", sans-serif;
  background: rgba(245, 245, 245, 1);
  border-radius: 10px;
  height: 2.5rem;
  padding-left: 10px;
  outline: none;
}

.btn {
  width: 100%;
  background: rgba(96, 91, 255, 1);
  border-radius: 10px;
  height: 2.5rem;
  font-family: "Lato", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
}

.forget {
  font-family: "Lato", sans-serif;
  color: rgba(52, 107, 212, 1);
}

.inputname {
  font-family: "Lato", sans-serif;
  font-weight: 500;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  color: rgba(133, 133, 133, 1);
}
.clrreg {
  font-family: "Lato", sans-serif;
  color: rgba(52, 107, 212, 1);
}

.socials2 {
  display: none;
}

@media only screen and (max-width: 980px) {
  .div1 {
    max-height: 12vh;
    width: 100%;
  }
  .wraper {
    flex-direction: column;
  }
  .div2 {
    max-height: 88vh;
    width: 100%;
    border: none;
  }

  .content2 {
    max-height: 88vh;
    align-self: flex-start;
  }
  .content1 {
    color: white;
    font-family: "Montserrat", Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: .1rem;
    align-items: center;
    text-transform: lowercase;
    max-height: 5rem;
  }

  .content1 ::first-letter {
    text-transform: uppercase;
  }

  .logo {
    margin: 0px;
    height: 40px;
    /* width: 50px; */
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
  }
  .socials {
    display: none;
  }
  .base {
    font-size: 2rem;
  }
  .register{
    flex-direction: column;
  }
  .socials2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
.soc{
  width: 25px;
  height: 25px;
}
}

@media only screen and (max-width: 500px) {
  .div1 {
    max-height: 12vh;
    width: 100%;
  }
  .wraper {
    flex-direction: column;
  }
  .div2 {
    width: 100%;
    max-height: 88vh;
    border: none;
  }

  .box2{
    padding: 1.5rem;
  }
  .content2{
    padding: 0 1rem 0 1rem;
  }
  .content1 {
    color: white;
    font-family: "Montserrat", Courier, monospace;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    text-transform: lowercase;
  }

  .content1 ::first-letter {
    text-transform: uppercase;
  }

  .logo {
    margin: 0px;
    height: 50px;
    width: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
  }
  .socials {
    display: none;
  }
  .base {
    font-size: 2rem;
  }
  .signin {
    font-size: 25px;
    margin-bottom: .5rem;
  }
  
  .signin2 {
    font-size: 15px;
  }
  .ath {
    border-radius: 10px;
    padding: 0.2rem;
    gap: .5rem;
    font-size: .6rem;
  }
  .google{
    width: 15px;
    height: 32px;
    padding: .5rem 0;
    gap: .1rem;
  }
}
